# Dependencies and AdonisJS build
node_modules
build
tmp
geo-database

# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log
logs

docker-compose.yml
monitoring
docs

*.sql
*.md

database_updates.sql
insert_tables.sql

country.json

# Editors specific
.fleet
.idea
.vscode
.claude
.junie
.adonisjs
geo-database.rar

# Platform specific
.DS_Store

*.txt


